  <app-header
    [mostrarMensagemHorasExposicao]="mostrarMensagemHorasExposicao()"
    [mostrarMensagemTemperatura]="mostrarMensagemTemperatura()"
    [mostrarMensagemUmidadeSolo]="mostrarMensagemUmidadeSolo()">
  </app-header>
  <main>

    <div class="container">

      <div class="header-title">
        <h1>Peperômia Melancia</h1>
        <h6 class="alternative-text data">{{ dataAtual | date : 'EEEE, M.d.yyyy' }}</h6>
      </div>

      <div class="conteudo">
        <img src="/assets/planta.svg" alt="Peperômia Melancia">

        <ul class="status" *ngIf="registrosDoDia.length">
          <li>
            <h3>
              <img src="/assets/humidity-icon.svg" alt="Umidade do solo">
              {{ status.umidadeSolo! | toFixed:2:0 | number }}% ({{ statusMensagemUmidadeSolo() }})
            </h3>
            <h6 class="alternative-text">Umidade do Solo</h6>
          </li>
          <li>
            <h3>
              <img src="/assets/sunlight-icon.svg" alt="Horas de exposição solar">
              {{ horasExposicaoIdeal | hoursMinutesSeconds }}
            </h3>
            <h6 class="alternative-text">Horas de exposição solar</h6>
          </li>
          <li>
            <h3>
              <img src="/assets/thermo-icon.svg" alt="Temperatura">
              {{ status.temperatura! | toFixed:2:0 | number }}°C
            </h3>
            <h6 class="alternative-text">Temperatura ambiente</h6>
          </li>
          <li>
            <h3>
              <img src="/assets/air-humidity.svg" alt="Umidade do ar">
              {{ status.umidadeAr! | toFixed:2:0 | number }}%
            </h3>
            <h6 class="alternative-text">Umidade do Ar</h6>
          </li>
        </ul>

      </div>

      <div class="bio">
        <h4>Sobre</h4>

        <p>É uma espécie de planta com flor da família da pimenta Piperaceae, nativa do norte da América do Sul, incluindo Bolívia, Brasil, Equador e Venezuela. A planta não está intimamente relacionada com melancias ou begônias</p>
      </div>

    </div>

  </main>
  <app-footer></app-footer>
