nav {
  background-color: var(--bg-color-header);
  padding: 2rem 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {

  .dropdown-toggle {
    color: var(--primary-color);
    font-size: 2rem;
  }

}

.dropdown-menu {
  margin-top: .5rem;
  padding: .5rem 0;
  min-width: 220px;

  li {
    p {
      cursor: pointer;
      color: var(--primary-color-alternative);
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      line-height: 1.2;
      padding: 0.5rem 1rem;
      font-weight: 600;
    }
  }
}

.badge-notification {
  background-color: var(--tertiary-color);
  width: 0.8rem;
  height: 0.8rem;
}
